! -----------------------------------------------------------------------------------------------------------------------------
! ROFI COLORS
! -----------------------------------------------------------------------------------------------------------------------------

!! enable all colors

rofi.color-enabled:     true

!! color scheme for normal row

rofi.color-normal:      argb:00000000,  #D8DEE9 , argb:00000000,  #536a70  ,  #1B2B34

!! color scheme for urgent row

rofi.color-urgent:      argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34

!! color scheme for active row

rofi.color-active:      argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34

!! color scheme window

rofi.color-window:      argb:ee222222,  #536a70  ,  #536a70 

!! separator style (none, dash, solid)

rofi.separator-style:   solid

! -----------------------------------------------------------------------------------------------------------------------------
! URXVT
! -----------------------------------------------------------------------------------------------------------------------------

!! general settings

URxvt.saveLines: 100000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt*termName: rxvt-unicode-patched-256color
URxvt*pointerBlank: True
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.cursorUnderline: False
URxvt.iso14755: False
URxvt*insecure: false
URxvt*depth: 32

!! clickable links

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!! extensions

URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True


URxvt.copyCommand:  xsel -b -selection clipboard
URxvt.pasteCommand: xsel -o -selection clipboard
URxvt.perl-ext-common: selection-to-clipboard,default,matcher

!! keybindings

URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! font

URxvt.font: xft:Hack:size=9,xft:FontAwesome
URxvt.letterSpace: -1

URxvt.foreground: #839496
URxvt*background: [91]#1d2226   

!! colors

URxvt.color0  : #303030
URxvt.color1  : #ba4443 
URxvt.color2  : #859900 
URxvt.color3  : #b58900
URxvt.color4  : #268bd2
URxvt.color5  : #d33682
URxvt.color6  : #2aa198 
URxvt.color7  : #eee8d5 
URxvt.color8  : #536a70
URxvt.color9  : #cb4b16 
URxvt.color10 : #a3be8c
URxvt.color11 : #657b83
URxvt.color12 : #8da9bf
URxvt.color13 : #6c71c4
URxvt.color14 : #93a1a1 
URxvt.color15 : #fdf6e3 
