! -----------------------------------------------------------------------------------------------------------------------------
! ROFI
! -----------------------------------------------------------------------------------------------------------------------------

Xcursor.size: 1

rofi.color-enabled:     true

rofi.color-normal:      argb:00000000,  #D8DEE9 , argb:00000000,  #536a70  ,  #1B2B34
rofi.color-urgent:      argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
rofi.color-active:      argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
rofi.color-window:      argb:c71d2226,  #536a70,  #536a70

rofi.hide-scrollbar: 	true
rofi.font:  			Hack 8
rofi.separator-style:   solid
rofi.bw: 			    2
rofi.widht:             5000
rofi.columns:		    1
rofi.sidebar-mode:      true

! -----------------------------------------------------------------------------------------------------------------------------
! COLOURS VERU
! -----------------------------------------------------------------------------------------------------------------------------
*.foreground:  #839496
*.background:  #1d2226
*.cursorColor: #aaa

URxvt.foreground:           #839496
URxvt*background:           [91]#1d2226
* URxvt*background:           [91]#fddfdf

*.color0:  #303030
*.color1:  #cb4b16
*.color2:  #AFD787
*.color3:  #ffcc66
*.color4:  #5fafd7
*.color5:  #cc99cc
*.color6:  #66cccc
*.color7:  #e8e8de
*.color8:  #536a70
*.color9:  #ba4443
*.color10: #98c379
*.color11: #e5c07b
*.color12: #87D7FF
*.color13: #b777e0
*.color14: #2aa198
*.color15: #fdf6e3

! ! Atom One Light theme
! urxvt*background: #f9f9f9
! urxvt*foreground: #383a42
! urxvt*cursorColor: #d0d0d0
! urxvt*color0: #000000
! urxvt*color1: #E45649
! urxvt*color2: #50A14F
! urxvt*color3: #986801
! urxvt*color4: #4078F2
! urxvt*color5: #A626A4
! urxvt*color6: #0184BC
! urxvt*color7: #A0A1A7
! urxvt*color8: #5c6370
! urxvt*color9: #e06c75
! urxvt*color10: #50A14F
! urxvt*color11: #986801
! urxvt*color12: #4078F2
! urxvt*color13: #A626A4
! urxvt*color14: #0184BC
! urxvt*color15: #101010


! -----------------------------------------------------------------------------------------------------------------------------
! URXVT
! -----------------------------------------------------------------------------------------------------------------------------

! general settings
URxvt*termName:             xterm-256color
URxvt.saveLines:            100000
URxvt.scrollBar:            False
URxvt.scrollstyle:          rxvt
URxvt*pointerBlank:         True
URxvt.urgentOnBell:         True
URxvt.cursorBlink:          True
URxvt.cursorUnderline:      False
URxvt.iso14755:             False
URxvt.iso14755_52:          false
URxvt*insecure:             false
URxvt*depth:                32

URxvt.modifier: super

! extensions
URxvt.perl-ext-common:      default,matcher,resize-font,url-select,keyboard-select,selection-to-clipboard
URxvt.colorUL:	    	    #4682B4

URxvt.keysym.M-l:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/sbin/chromium
URxvt.urlLauncher:          /usr/sbin/chromium
URxvt.url-select.underline: true

URxvt.lineSpace: 5
URxvt.internalBorder:  9
URxvt.letterSpace:          -1


URxvt.keysym.M-v:           perl:keyboard-select:activate

URxvt.resize-font.smaller:  M-J
URxvt.resize-font.bigger:   M-K
URxvt.resize-font.reset:    M-R
URxvt.resize-font.step:     1

! keybindings
URxvt.keysym.M-p:           eval:paste_clipboard
URxvt.keysym.M-c:           eval:selection_to_clipboard
! URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! URxvt.keysym.Control-Shift-C: perl:clipboard:copy

!! scrolling
URxvt.keysym.M-k:           command:\033]720;1\007
URxvt.keysym.M-j:           command:\033]721;1\007
URxvt.keysym.M-u:           command:\033]720;10\007
URxvt.keysym.M-d:           command:\033]721;10\007

! do not scroll with output
URxvt*scrollTtyOutput:      false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

! font
URxvt.font:                 xft:Hack:                         size=8:antialias=true:hinting=true, xft:Terminess Powerline:size=12


! change to light background
URxvt.keysym.C-8: command:\033]11;#ffffff\007

! do not ask when copy
URxvt.perl-ext-common:      default,matcher,resize-font,url-select,keyboard-select,clipboard,-confirm-paste
