
snippet h1 "header1"
	# ${1:header}
#
snippet table "Table"
	${1:First Header}   | ${6:First Header}
	--------------------|--------------------
	${2:Content Cell}   | ${7:Content Cell}
	${3:Content Cell}   | ${8:Content Cell}
	${4:Content Cell}   | ${9:Content Cell}
	${5:Content Cell}   | ${10:Content Cell}

snippet link "link"
	[${1:name}](${1:link})
