snippet k8s_service "k8s_service"
	# Source: website/templates/service.yaml
	apiVersion: v1
	kind: Service
	metadata:
		name: ${1:[[name]]}
		namespace: ${2:[[namespace]]}
	spec:
		type: NodePort
	ports:
	- name: http
		port: 80
		targetPort: 80
		protocol: TCP
	selector:
		app: ${3:[[name]]}
		
